body
{
    background-color:rgb(235, 230, 230);
}
h1
{
    color:rgb(44, 145, 106);
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 48px;
}
h4
{
    color:rgb(35, 35, 37);
    font-family:'Times New Roman';
    font-size: 35px;
    margin:10px;
}
